body {
  font-family: Arial;
  background: #85d6ff;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 500px;
  margin: auto;
  background: #6efed8;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#output {
  margin-top: 20px;
  background: #8e9bff;
  padding: 10px;
  border-radius: 5px;
}