body {
  font-family: Arial;
  background: #ff9285;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 500px;
  margin: auto;
  background: #a90d0d;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#output {
  margin-top: 20px;
  background: #ff0921;
  padding: 10px;
  border-radius: 5px;
}